########################
# Import bazelrc presets
import %workspace%/tools/preset.bazelrc

########################
# Project-specific flags
# This is also a place to override settings from the presets

# FIXME: aspect's rules are a good starting point, but I don't like all of 'em.
# I ought to write my own (based on theirs).

########################
# User preferences
# Load any settings & overrides specific to the current user from `user.bazelrc`.
# This file should appear in `.gitignore` so that settings are not shared with team members.
# This should be last statement in this config so the user configuration overrides anything above.
try-import %workspace%/user.bazelrc
