PATH_add tools

# HACK: use uv-provided Python, rather than bazel-provided Python
# bazel-provided Python is: bazel run --ui_event_filters=-INFO --noshow_progress --show_result=0 python3
uv venv --python 3.12 --quiet
uv pip sync --require-hashes --verify-hashes --strict --quiet py_requirements_lock.txt
source .venv/bin/activate
