PATH_add tools/bin

export UV_PYTHON="3.14.5"

# HACK: use uv-provided Python, rather than bazel-provided Python
# bazel-provided Python is: bazel run --ui_event_filters=-INFO --noshow_progress --show_result=0 python3
pip_sync() {
    uv pip sync --require-hashes --verify-hashes --strict py_requirements_lock.txt
}

# create venv
if ! pip_sync; then
    uv venv --clear .venv
    pip_sync
fi
