VIRTUAL_ENV=".venv"

PATH_add tools

# create venv
# HACK: use system python3.12, rather than bazel-provided Python
# bazel run --ui_event_filters=-INFO --noshow_progress --show_result=0 python3
layout python python3.12

# install pip-tools if it's not already installed
if ! python -m piptools > /dev/null 2>&1; then
    python -m pip install --quiet pip-tools
fi

# pip-sync
python -m piptools sync --quiet py_requirements_lock.txt
