---
title: Contact
contact:
- title: "Email"
  text: "cjMakesIcons@gmail.com"
  link: "mailto:cjMakesIcons@gmail.com"
  icon:
    class: "fas fa-envelope"
    transform: "shrink-6"
    mask: "fas fa-circle"
- title: "Reddit"
  text: "u/cj81499"
  link: "https://www.reddit.com/user/cj81499/"
  icon:
    class: "fab fa-reddit"
- title: "Twitter"
  text: "@cjMakesIcons"
  link: "https://twitter.com/cjMakesIcons"
  icon:
    class: "fab fa-twitter"
    transform: "shrink-6"
    mask: "fas fa-circle"
- title: "Github"
  text: "cj81499"
  link: "https://github.com/cj81499"
  icon:
    class: "fab fa-github"
---

{% for service in contact %}
<p>
  <i
    class="{{ service.icon.class }}"
    data-fa-transform="{{ service.icon.transform }}"
    data-fa-mask="{{ service.icon.mask }}"
  ></i>
  {{ service.title }}
  <a href="{{ service.link }}">{{ service.text }}</a>
</p>
{% endfor %}
