---
layout: default
---

<div class="package">
    <p>
        by
        {% include link_if_exists.html content=page.author link=page.author_url %}
    </p>
    {{ content }}
    {% if page.screenshots %}
        <h2>Screenshots</h2>
        <ul class="screenshots">
            {% for s in page.screenshots %}
                <li>
                    {% include screenshot.html screenshot=s %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% assign cl = site.changelogs | find: "slug", page.slug %}
    {% if cl %}
        <h2>Changelog</h2>
        <a href="{{ cl.url | relative_url }}">Changelog</a>
    {% endif %}
</div>
