.package-grid {
  $margin-lr: 0.5rem;
  $margin-tb: 0.5rem;

  $border-width: 2px;
  $border-radius: 1rem;
  $border-radius-inner: calc(#{$border-radius} - #{$border-width});

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -#{$margin-tb} -#{$margin-lr};

  .package {
    box-sizing: border-box;
    border: $border-width solid var(--secondary-color);
    max-width: 100%;
    width: 30rem;
    margin: $margin-tb $margin-lr;
    border-radius: $border-radius;
  }

  a {
    color: inherit;

    &:hover {
      box-shadow: 0 10px 10px 0 rgba($color: black, $alpha: 0.2);
    }
  }

  .img-container {
    height: 15rem;
    position: relative;
    overflow: hidden;

    img {
      border-radius: $border-radius-inner $border-radius-inner 0 0;
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .img-caption {
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: var(--card-color);
    border-radius: 0 0 $border-radius-inner $border-radius-inner;
  }
}
