---
layout: compress
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ '/assets/css/redesign.css' | relative_url }}"
    />

    <!-- prettier-ignore -->
    <title>
      {% if page.url == "/" %}
      {{ site.title }}
      {% else %}
      {{ page.title | default: site.title }}
      {% endif %}
    </title>

    {% include favicons.html %}
  </head>
  <body>
    {{content}}
  </body>
</html>
