on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

jobs:
  build-and-test:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout source tree
        uses: actions/checkout@v6

      - name: Setup bazel/bazelisk
        uses: bazel-contrib/setup-bazel@0.16.0
        with:
          bazelisk-cache: true
          disk-cache: ${{ github.workflow }}
          external-cache: true
          repository-cache: true
          # TODO: use --config=ci
          # bazelrc: |
          #   build --config=ci
          bazelrc: |
            build --color=yes

      - name: build
        run: bazel build //...

      - name: test
        run: bazel test //...
